.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loader {
    margin: auto;
    width: 120px;
    height: 70px;
    background-image: url('../assets/nav/show-quest-main-logo.png'); /* Replace with your image path */
    background-size: cover;
    animation: spin 4s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
}

@keyframes spin {
    0%,
    100% {
        transform: scale(1) rotate(0deg);
    }

    50% {
        transform: scale(0.5) rotate(180deg);
    }
}
